<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AFK Game</title>

    <link rel="stylesheet" href="app.css">
</head>

<body>
    <header>
        <%- include('nav');%>
    </header>
    <main>

    </main>
    <footer>
        <img src="assets/deck.png" alt="hero deck" id=hero_deck class=card>

    </footer>
    <script src="app.js"></script>
</body>

</html>